<head>
  <title>Vim, Meteor, Awesome</title>
  <link rel="stylesheet" href="/packages/julienchauveau_reveal-js/reveal.js/css/theme/default.css" id="theme"/>
</head>

<body>
  {{> slides}}
</body>

<template name="slides">
<div class="reveal">
  <div class="slides">
    <section>
      <h1>Vim Your Meteor For Awesome</h1>
      <h2>Code Your Source From Zero to Hero</h2>
      <p>By <a href="http://adammonsen.com">Adam Monsen</a>, Head of Engineering at <a href="http://csats.com">C-SATS, Inc.</a></p>
    </section>

    <section>
      <h1>Plain Text</h1>
      <h2>Your constant companion</h2>
      <ul>
        <li class="fragment">JavaScript, HTML, CSS, JSON</li>
        <li class="fragment">Emails, blog posts, notes</li>
      </ul>
    </section>

    <section>
      <h1>Vim is Beast Mode for text</h1>
      <ul>
        <li class="fragment">Fast, lightweight</li>
        <li class="fragment">Extensible</li>
        <li class="fragment">Ubiquitous</li>
      </ul>
      <p class="fragment"><em>Vim is perfect for Meteor because Vim is perfect for text</em></p>
    </section>

    <section>
      <h1>Prepare to be amazed by the revolutionary user interface of Vim!</h1>
    </section>

    <section>
      <img src="img/vim-start.png" alt="Vim starting screen"/>
    </section>

    <section>
      <img src="img/gvim-start.png" alt="GUI Vim starting screen"/>
    </section>

    <section>
      <h1>Abort!</h1>
      <p>Not interested? Memorize <code>:q!</code></p>
      <p class="fragment">But there's got to be <em>some</em> reason why so many professional programmers use Vim...</p>
    </section>

    <section>
      <h1>Let's find out</h1>
      <h2 class="fragment">What is wrong with so many professional programmers</h2>
      <ul>
        <li class="fragment">Start with <code>vimtutor</code>
          <ul>
            <li>move, edit, undo, repeat, search, replace</li>
          </ul>
        </li>
        <li class="fragment">Think <strong>long-term</strong>
          <ul>
            <li>mantrams, muscle memory, brain stem, spinal column</li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h1>Vim Gameplan</h1>
      <ul>
        <li>Read the help</li>
        <li>Practice</li>
        <li>Automate repetitive tasks</li>
        <li>You're not alone</li>
        <li>Kill your mouse</li>
        <li>Do what works for you</li>
      </ul>
    </section>

    <section>
      <h1>Demo Time</h1>
      <h2>Somebody tell me when I have two minutes left</h2>
      <p>Note: I'm skipping the basics because you can get them from <code>vimtutor</code>.</p>
      <p>(First demo: Command-T to "01")</p>
    </section>

    <section>
      <h1>Want More IDE?</h1>
      <h2>See Slava Kim's <a href="http://slides.com/slavakim/meteor-and-your-text-editor#/">slides</a> and <a href="https://www.youtube.com/watch?v=TIE9ZOqlvFo">video</a> on <a href="http://ternjs.net">Tern</a> with Vim</h2>
      <ul>
        <li>autocomplete</li>
        <li>jump to definition</li>
        <li>rename/refactor</li>
        <li>show function/object documentation</li>
        <li>show type for thing under cursor</li>
        <li>works with JavaScript Meteor projects</li>
      </ul>
    </section>

    <section>
      <h1>Thank you!</h1>
      <ul>
        <li>Feedback, questions: <a href="mailto:Adam.Monsen@csats.com">Adam.Monsen@csats.com</a></li>
        <li>Source code for this talk: <a href="https://gitlab.com/meonkeys/vim-meteor-lightning-talk">http://tinyurl.com/2014wmv</a></li>
        <li>My Vim configuration: <a href="https://gitlab.com/meonkeys/dotvim">https://gitlab.com/meonkeys/dotvim</a></li>
        <li>Slideshow URL: <a href="http://wwmd-lightning-vim.meteor.com">http://wwmd-lightning-vim.meteor.com</a></li>
        <li>Learn Vim while playing a game: <a href="http://vim-adventures.com">http://vim-adventures.com</a></li>
      </ul>
    </section>
  </div>
</div>
</template>
